.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
.contact.page-width.page-width--narrow {
  max-width: 900px; /* 调大容器宽度，原来 Dawn 是 650px 左右 */
}

.contact .field__input,
.contact select,
.contact textarea {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 20px;
  display: block;
}

/* 让按钮与输入框对齐居中 */
.contact__button {
  text-align: center;
}

.contact__button .button {
  width: 200px;
}

